#title {
    background-image: url('/img/hello.jpg');
    background-color:white;
    height: 100vh;
    overflow: hidden; 
    background-position:center;
    color: white;
    background-size:cover;
    padding-left:10px;
}
h1 {
    color:white;
    font-size:9em;
    @include sm {
        font-size:7em;
    }
}
h4 {
    color:white;
    font-size: 2em;
}

